*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    flex-direction: column;
    animation: 1s fadein 0.5s forwards;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    background-color: #3f3f44;
}

.info a{
    padding: 5px;
}

/* Navbar */
.navbar{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-basis: 50%;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
}

img{
    position: relative;
    left: 10%;
}

.items li{
    position: relative;
    text-decoration: none;
    top: 30%;
    padding: 10px;
    opacity: 0.6;
}

.items li a{
    text-decoration: none;
    color: red;
    font-size: 18px;
}

/* Image Div*/
.image {
    width: 100%;
}

.image img {
    position: relative;
    left: 0%;
    width: 100%;
    height: 450px;
}



.header{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    font-size: 35px;
}


.appoint{
    position: relative;
    width: 100%;
    top: 120px;
    height: 650px;
}

.appoint_form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first{
    position: relative;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
}

.app_in{
    width: 300px;
    height: 35px;
    font-size: 20px;
    border: 1px solid #e4e4e4;
    box-shadow: 5px 5px 5px rgb(226, 226, 226);
}

.second{
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    height: 70px;
    top: 40px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.third{
    position: relative;
    width: 100%;
    height: 100px;
    top: 60px;
    display: flex;
    flex-direction: column;
}

.desc{
    position: relative;
    left: 27%;
    width: 700px;
    height: 100px;
    top: 5px;
    border: 1px solid #e4e4e4;
    box-shadow:2px 2px 2px rgb(226, 226, 226);
}


.btn{
    position: relative;
    width: 150px;
    left: 47%;
    height: 40px;
    top: 150px;
    cursor: pointer;
    border-radius: 7px;
    background: linear-gradient(#5c2a9d,#5c2a9d);
    border: none;
    font-size: 15px;
    color: white;
}

.btn:hover{
    border: 1px solid #6a097d;
    box-shadow: 2px 2px 2px #862a5c ;
}


.first .doctor{
    position: relative;
    display: flex;
    flex-direction: column;
}

.first .email{
    position: relative;
    display: flex;
    flex-direction: column;
}

.end{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: rgb(226, 226, 226);
}